@font-face {
    font-family: "Outfit";
    src: url("https://fonts.google.com/specimen/Outfit");
}
:root{
    /*colours*/
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /*font*/
    --font-size-paragraph: 0.9375rem;
    --font-size-h1: 1.25rem;
    --font-family: 'Outfit', sans-serif;
    --font-weight-small: 400;
    --font-weight-big: 700;

    /*border radius*/
    --border-radius-img: 0.7rem;
    --border-radius-container: 1.5rem;

    /*random*/
    --padding-container: 1rem;
    --margin-text-item: 0.9375rem;
}
*{
    /*Boilerplate styles*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
    text-align: center;
}
body{
    background-color: var(--light-gray);
}
.mainContainer{
    background-color: var(--white);
    border-radius: var(--border-radius-container);
    padding: 1rem;
    width: 35ch;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.textItem{
    margin: var(--margin-text-item) var(--margin-text-item) 0 var(--margin-text-item);
}
.qrCodeImg{
    max-width: 100%;
    border-radius: var(--border-radius-img);
}
.boldText{
    color: var(--dark-blue);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-big);
}
.lightText{
    color: var(--grayish-blue);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-small);
    
    margin-bottom: 1.125rem;
}